

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#back{  
background-image: url('./assets/handshake.jpg');

height: 100vh;
width: 100%;
object-fit: scale-down;
background-size: cover;
background-position: center;
border-radius: 6px;


}

@media (max-width:768px){
    #back{
        max-width:100%;
        height:15rem;
        object-fit: center;
        
        
    }
}


.new-color{
    background-color:#7d4cb3 !important;
}

.sub-header{
    background-color: #9770C2 !important;
}

.last-body{
    background-color: #986867;
}

.last-sub{
    background-color: #AD8685;
}

.card-body{
    background-color: #876F90 !important;
}
.card-header{
     background-color: #9F8BA7 !important;
}
.card-text{
    color:  #7d4cb3 !important;
}
.calculator-body{
    background-color:#feffff !important;
}

.emi-body{
    background-color: #41BE8B;
}

.int-body{
    background-color: #4174BE;
}

.total-body{
    background-color: #41B3BE;
}




.even-row td {
    background-color: #f9f9f9 !important;
    font-weight: 500 !important;
}

.odd-row td {
    background-color: #ffffff !important;
    font-weight: 500 !important;
}
